<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div th:replace="home::head"></div>
<body>

    <div class="container">
      <h1>Add Product Form</h1>
    <form class="d-grid">
        <div class="form-group row">
          <label for="category" class="col-sm-2 col-form-label">Category</label>
          <div class="col-sm-10">
            <select class="custom-select mr-sm-2" id="inlineFormCustomSelect">
              <option selected>Choose...</option>
              <option th:each="category:${categories}" value="${category.id}">${category.name}</option>
            </select>          
          </div>
        </div>
        <div class="form-group row">
          <label for="name" class="col-sm-2 col-form-label">Product Name</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" id="name" name="name" placeholder="Product Name">
          </div>
        </div>
        <div class="form-group row">
          <label for="sku" class="col-sm-2 col-form-label">SKU</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" id="sku" name="sku" placeholder="sku">
          </div>
        </div>
        <div class="form-group row">
          <label for="description" class="col-sm-2 col-form-label">Description</label>
          <div class="col-sm-10">
            <input type="textarea" class="form-control" id="description" name="description" placeholder="Product description">
          </div>
        </div>
        <div class="form-group row">
          <label for="unitPrice" class="col-sm-2 col-form-label">Unit Price</label>
          <div class="col-sm-10">
            <input type="number" class="form-control" id="unitPrice" name="unitPrice" placeholder="Unit Price">
          </div>
        </div>
        <div class="form-group row">
          <label for="image" class="col-sm-2 col-form-label">Product Image</label>
          <div class="col-sm-10">
            <input type="file" class="form-control" id="image" name="image" placeholder="image">
          </div>
        </div>
          <div class="row">
            <legend class="col-form-label col-sm-2 pt-0">Active</legend>
            <div class="col-sm-10">
              <div class="form-check">
                <input class="form-check-input" type="radio" name="active" id="gridRadios1" value="true" checked>
                <label class="form-check-label" for="gridRadios1">
                  active
                </label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="radio" name="active" id="gridRadios2" value="false">
                <label class="form-check-label" for="gridRadios2">
                  inactive
                </label>
              </div>
            </div>
          </div>
        
        <div class="form-group row">
          <label for="unitsInStock" class="col-sm-2 col-form-label">Units in Stock</label>
          <div class="col-sm-10">
            <input type="number" class="form-control" id="unitsInStock" name="unitsInStock" placeholder="Units in Stock">
          </div>
        </div>
        <div class="form-group row">
          <div class="col-sm-10">
            <input type="submit" class="btn btn-primary" value="submit">
          </div>
        </div>
      </form>
    </div>
</body>
</html>


