<!DOCTYPE html>
<html lang="en">
<div th:replace="home::head"></div>
<body>
    <div th:replace="home::topbar"></div>
    <div th:replace="home::navbar"></div>
    <div th:replace="home::foot"></div>
    <div th:replace="home::carousel"></div>
    <div th:replace="home::features"></div>
    <div th:replace="home::categories"></div>
    <div th:replace="home::featuredProducts"></div>
    <div th:replace="home::offers"></div>
    <div th:replace="home::recentProducts"></div>
    <div th:replace="home::vendors"></div>
    <div th:replace="home::footer"></div>
</body>
</html>